.container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.item {
  position: relative;
  height: 200px;
  margin: 0.5rem;
}

.item .meta,
.item .content__container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10%;
  background-color: #fff;
}

.item .meta {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.item .meta .item__title {
  margin: 0;
  font-size: 20px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.item .meta .item__info {
  height: 80px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.item .meta .item__info span {
  margin: 0 0.5rem;
}
.item .meta .item__info span:last-child {
  margin: 0;
}

.item .meta .item__info .writer {
  position: absolute;
  right: 1rem;
}

.item .content__container {
  height: 100%;
  padding: 1rem;
}
.item .content__container p {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

/* animation */
.item {
  perspective: 1000px;
}
.item .meta,
.item .content__container {
  backface-visibility: hidden;
  transition: 1s;
}
.item .meta {
  transform: rotateY(0);
}
.item .content__container {
  transform: rotateY(180deg);
}
.item:hover .meta {
  transform: rotateY(-180deg);
}
.item:hover .content__container {
  transform: rotateY(0deg);
}
/* 
.item {
  position: relative;
  margin: 1rem 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1rem;
  border-radius: 10%;
  height: 200px;
}

.item__title {
  margin: 0;
}

.meta__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.meta {
  height: 2rem;
  display: flex;
  align-items: center;
}

.meta > * {
  margin-right: 0.5rem;
}

.content_container {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: absolute;
  top: 10%;
}

.front,
.back {
  position: absolute;
  width: 100%;
}

.front {
}

.back {
  display: none;
} */
